nav{
    height: 100%;
    background-color: #e6e1e194;
    
  }
  .side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .side-nav-button:hover{
    background-color: rgba(255,255,255, 0.2);
    border-radius: 30%;
  }
  
  ul{
    background-color: #8e908ee9;
    
  }
  
  
  .dropdown-item:hover {
    background-color: #ffffff1a; /* Fondo más oscuro al resaltar */
    color: #ffffff; /* Texto blanco al resaltar */
    cursor: pointer;
  }
  


  .dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    width: 250px;
    box-shadow: 3px 3px 4px rgba(97, 96, 96, 0.5);
    border-radius: 10px;
    padding-bottom: 20px;
    /* color: #060640; */
  }
  
  .dropdown-menu :hover {
    background-color: #f5f7fa;
    /* color: black; */
    color: #0147A2;
    box-shadow: 1px 0 0px 0px #0147A2;
  }
  
  .dropdown-item {
    /* font-family: "Playwrite NZ", cursive; */
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .dropdown-item i {
    font-size: 18px;
    /* Tamaño de los iconos */
    margin-right: 40px;
    /* Espacio entre el icono y el texto */
  }
  
  .profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    /* Espacio entre el icono de perfil y el borde del botón */
  }