<div class="modal fade" [ngClass]="{'modal-disabled': getCorazonesRestantes().length === 0}" id="exampleModal"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLongTitle">NIVEL 1</h5>

                <div class="heart-container">

                    <!-- Puedes personalizar el emoji del corazón según tu preferencia -->
                    <span *ngFor="let i of getCorazonesRestantes()" style="color: red; font-size: 40px; line-height: 40px;">&#10084;</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>


            <div class="modal-body text-center">


                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <br>
                <!-- Sección 1 -->
                <div *ngIf="seccionActual === 1">
                    <h5 class="mt-3 mb-4 text-center">¿Cual de estas imágenes se refiere a "Perdonar"?</h5>

                    <!-- Imágenes para la sección 1 -->
                    <!-- ... (código existente) -->
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/1.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/2.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/3.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>

                </div>
                <!-- Sección 2 -->
                <div *ngIf="seccionActual === 2">
                    <h5 class="mt-3 mb-4 text-center">¿cuál de estas significa "hola"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/p1.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/p2.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/p3.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <div *ngIf="seccionActual === 3">
                    <h5 class="mt-3 mb-4 text-center">¿Quién está diciendo "gracias"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/p4.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/p5.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/p6.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <div *ngIf="seccionActual === 4">
                    <h5 class="mt-3 mb-4 text-center">¿Quién está diciendo "por favor"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/1.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/2.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/3.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <div *ngIf="seccionActual === 5">
                    <h5 class="mt-3 mb-4 text-center">¿Cuál de estas significa "no"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/p1.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/p2.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/p3.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <div *ngIf="seccionActual === 6">
                    <h5 class="mt-3 mb-4 text-center">¿Con qué gesto te preguntarían dónde está el baño?</h5>
                    <div class="container">
                        <!-- Imágenes para la sección 1 -->
                        <!-- ... (código existente) -->
                        <div class="container">
                            <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                                [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                                <img src="../assets/images/1.png" class="card-img-top" alt="Imagen 1">

                            </div>
                            <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                                [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                                <img src="../assets/images/2.png" class="card-img-top" alt="Imagen 2">

                            </div>
                            <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                                [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                                <img src="../assets/images/3.png" class="card-img-top" alt="Imagen 3">

                            </div>

                        </div>
                    </div>
                </div>


                <div *ngIf="seccionActual === 7">
                    <h5 class="mt-3 mb-4 text-center">¿Cuál de estos es "amigo/a"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/p1.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/p2.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/p3.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <div *ngIf="seccionActual === 8">
                    <h5 class="mt-3 mb-4 text-center">¿Quién está diciendo "de nada"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/p4.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/p5.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/p6.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <div *ngIf="seccionActual === 9">
                    <h5 class="mt-3 mb-4 text-center">¿Quién está diciendo "te amo"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/1.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/2.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/3.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <div *ngIf="seccionActual === 10">
                    <h5 class="mt-3 mb-4 text-center">¿cuál de estas significa "hola"?</h5>
                    <div class="container">
                        <div class="card" (click)="onTarjetaClick(1)" [class.selected]="tarjetaSeleccionada === 1"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 1}">
                            <img src="../assets/images/p1.png" class="card-img-top" alt="Imagen 1">

                        </div>
                        <div class="card" (click)="onTarjetaClick(2)" [class.selected]="tarjetaSeleccionada === 2"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 2}">
                            <img src="../assets/images/p2.png" class="card-img-top" alt="Imagen 2">

                        </div>
                        <div class="card" (click)="onTarjetaClick(3)" [class.selected]="tarjetaSeleccionada === 3"
                            [ngClass]="{'selected-card': tarjetaSeleccionada === 3}">
                            <img src="../assets/images/p3.png" class="card-img-top" alt="Imagen 3">

                        </div>

                    </div>
                </div>

                <!--SE TERMINO EL JUEGO-->

                <!-- Muestra el mensaje de sin vidas solo cuando las vidas sean igual a cero -->
                <div *ngIf="getCorazonesRestantes().length === 0" class="mensaje-sin-vidas-container">
                    <p class="mensaje-sin-vidas">¡Te quedaste sin vidas!</p>
                    <p class="subtitulo-sin-vidas">Los errores nos ayudan a aprender. ¡Nos vemos pronto!</p>
                    <button type="button" class="btn btn-primary btn-lg rounded-pill btn-seguir-aprendiendo"
                        data-bs-dismiss="modal" aria-label="Close">
                        Seguir aprendiendo
                    </button>
                </div>
                <!-- Muestra el mensaje cuando la barra de progreso == 100%-->
                <!-- Agrega este bloque al HTML para el modal de felicitaciones -->

                <div *ngIf="mostrarModalFelicitaciones" class="mensaje-sin-vidas-container">
                    <p class="mensaje-sin-vidas">¡Enhorabuena!</p>
                    <p class="subtitulo-sin-vidas">¡Superaste este desafío. ¡Sigue así!</p>
                    <button type="button" class="btn btn-primary btn-lg rounded-pill btn-seguir-aprendiendo"
                        data-bs-dismiss="modal" aria-label="Close">
                        Seguir aprendiendo
                    </button>
                </div>



            </div>

            <div class="modal-footer">


                <!-- Modifica el botón "Saltar" para que sea condicional -->
                <button *ngIf="mostrarBotonSaltar && mostrarBotonesFinJuego" type="button"
                    class="btn btn-outline-primary btn-lg rounded-pill" (click)="saltar()"
                    [disabled]="mostrarModalFelicitaciones === true">Saltar</button>

                <!-- Botón para comprobar -->
                <div *ngIf="!respuestaComprobada">
                    <button type="button" class="btn btn-primary btn-lg rounded-pill" (click)="comprobarRespuesta()"
                        [disabled]="tarjetaSeleccionada === null">Comprobar</button>
                </div>
                <!-- Botón para continuar -->


                <div *ngIf="respuestaComprobada" class="continuar-container">
                    <div *ngIf="respuestaComprobada" class="mensaje-container"
                        [ngClass]="{'mensaje-incorrecto':  !esRespuestaCorrecta, 'mensaje-correcto': esRespuestaCorrecta}">
                        <p>{{ mensajeRespuesta }}</p>
                    </div>


                    <div *ngIf="respuestaComprobada && seccionActual < totalSecciones && mostrarBotonesFinJuego"
                        class="continuar-container">
                        <div class="boton-continuar-container">
                            <button type="button" class="mensaje-container"
                        [ngClass]="{'boton-incorrecto':  !esRespuestaCorrecta, 'boton-correcto': esRespuestaCorrecta}"
                                (click)="continuar()">Continuar</button>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>