.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
}

 .profile-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-info {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info.show {
    display: block;
  }
  
  .profile {
    cursor: pointer;
  }
  