<div class="container-fluid g-0">
    <app-topbar (navbarMenu)="navbarStatus = $event;" class="fixed-topbar"></app-topbar>
  
    <main class="d-flex">
      <app-navbarmenu [navbarStatus]="navbarStatus" [ngClass]="{'app-side-nav-open': navbarStatus}"
          class="fixed-side-nav"></app-navbarmenu>
  
      <div class="display-area col-lg-10 col-md-12 col-sm-12 p-3" [ngClass]="{'display-area-shrink': navbarStatus}">
  
        <!-- Contenedor de los bloques -->
        <div class="d-flex flex-column gap-3">
          <!-- Segundo Bloque: Formulario de Edición -->
          <div class="p-3 bg-gradient flex-grow-1 mt-md-0 mt-3">
            <div class="edit-form animate__animated animate__fadeIn">
              <h1 class="animated-title text-primary-emphasis text-center fs-2"><b>Mis Videos Relacionados</b></h1>
              <hr>
              <div class="row">
                <div *ngFor="let video of videos" class="col-lg-4 col-md-6 col-sm-12 mb-4">
                  <div class="video-container">
                    <h2 class="fs-5"><b>{{ video.title }}</b></h2>
                    <video width="100%" controls>
                      <source [src]="video.url" type="video/mp4">
                      Tu navegador no soporta el elemento de video.
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  